*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 20vw;
    height: 20vh;
    background-color: antiquewhite;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    animation: teste .5s;
}

body{
    height: 200vh;
}

@keyframes teste {
    from {
        transform: translateX(-20%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}